.project
  .project-header
    .container
      .row
        .offset8.span4
          %h2 Signal App
  .container
    .row
      .span12
        .row
          .span8.carousel-container
            %ul#project-1.carousel.portfolio-items
              %li.portfolio-item Hello 1
              %li.portfolio-item Hello 2
              %li.portfolio-item Hello 3
            .row.project-controls
              .span2.leftright
                #project-1-right.right
                  %i.icon-arrow-right
                #project-1-left.left
                  %i.icon-arrow-left
              .span6.pagination
          .span4
            .project-details
              %h3 Social Networking iPhone App
              .divider
              .project-tags
                .badge wireframes
                .badge product vision
                .badge user experience design
                .badge interaction design
                .badge user interface design
                .badge photoshop
                .badge omnigraffle
                .badge logo design
                .badge brand design
              %p Signal is an iPhone app designed


.project
  .project-header
    .container
      .row
        .offset8.span4
          %h2 DreamBid
  .container
    .row
      .span12
        .row
          .span8.carousel-container
            %ul#project-2.carousel.portfolio-items
              %li.portfolio-item Hello 1
              %li.portfolio-item Hello 2
              %li.portfolio-item Hello 3
          .span4
            .project-details
              %h3 Lowest-Unique-Bid Auction Site
              .divider
              .project-tags
                .badge user testing
                .badge product vision
                .badge interaction design
                .badge user interface design
                .badge photoshop
                .badge omnigraffle
                .badge mobile
                .badge UI development
                .badge .LESS CSS
                .badge HAML/ERB/HTML
                .badge ad design
              %p DreamBid is a website that offers a range of interesting products, with the proceeds frequently going to charity. Auctions aren't typical; to win, you must have the lowest unique bid. Bids are purchased before bidding and auctions are timed.
              %p The site was simple and straightforward. Through a series of user-tests and highly successful facebook ad campaigns, we were able to deliver a simple usability with a unique hook. While the site was successful, we decided to shut it down because it had become to difficult to convince charities to participate on a low-bid auction site.
            .row.project-controls
              .span2.pagination
              .span2.leftright
                #project-2-right.right
                  %i.icon-arrow-right
                #project-2-left.left
                  %i.icon-arrow-left

