.project
  .project-header
    .container
      .row
        .offset8.span4
          %h2 Signal App
  .container
    .row
      .span12
        .row
          .span8.carousel-container
            %ul#project-1.carousel.portfolio-items
              %li.portfolio-item
                %a(href="#sig-2" data-toggle="lightbox")
                  %img{:src => "assets/img-sm-sig-2.jpg"}
              %li.portfolio-item
                %a(href="#sig-4" data-toggle="lightbox")
                  %img{:src => "assets/img-sm-sig-4.jpg"}
              %li.portfolio-item
                %a(href="#sig-5" data-toggle="lightbox")
                  %img{:src => "assets/img-sm-sig-5.jpg"}
              %li.portfolio-item
                %a(href="#sig-6" data-toggle="lightbox")
                  %img{:src => "assets/img-sm-sig-6.jpg"}
              %li.portfolio-item
                %a(href="#sig-1" data-toggle="lightbox")
                  %img{:src => "assets/img-sm-sig-1.jpg"}
              %li.portfolio-item
                %a(href="#sig-3" data-toggle="lightbox")
                  %img{:src => "assets/img-sm-sig-3.jpg"}
            .project-controls.span2
              .right
                %i.icon-arrow-right
              .left
                %i.icon-arrow-left
          .span4
            .project-details
              %h3 Social Networking iPhone App
              .divider
              .project-tags
                .badge wireframes
                .badge product vision
                .badge user experience design
                .badge interaction design
                .badge user interface design
                .badge photoshop
                .badge omnigraffle
                .badge logo design
                .badge brand design
              %p Signal is an iPhone app designed

.project
  .project-header
    .container
      .row
        .offset8.span4
          %h2 DreamBid
  .container
    .row
      .span12
        .row
          .span8.carousel-container
            %ul#project-2.carousel.portfolio-items
              %li.portfolio-item
                %a(href="#db-4" data-toggle="lightbox")
                  %img{:src => "assets/img-sm-DB-4.jpg"}
              %li.portfolio-item
                %a(href="#db-3" data-toggle="lightbox")
                  %img{:src => "assets/img-sm-DB-3.jpg"}
              %li.portfolio-item
                %a(href="#db-2" data-toggle="lightbox")
                  %img{:src => "assets/img-sm-DB-2.jpg"}
              %li.portfolio-item
                %a(href="#db-1" data-toggle="lightbox")
                  %img{:src => "assets/img-sm-DB-1.jpg"}
            .project-controls.span2
              .right
                %i.icon-arrow-right
              .left
                %i.icon-arrow-left
          .span4
            .project-details
              %h3 Lowest-Unique-Bid Auction Site
              .divider
              .project-tags
                .badge user testing
                .badge product vision
                .badge interaction design
                .badge user interface design
                .badge photoshop
                .badge omnigraffle
                .badge mobile
                .badge UI development
                .badge .LESS CSS
                .badge HAML/ERB/HTML
                .badge ad design
              %p DreamBid is a website that offers a range of interesting products, with the proceeds frequently going to charity. Auctions aren't typical; to win, you must have the lowest unique bid. Bids are purchased before bidding and auctions are timed.
              %p The site was simple and straightforward. Through a series of user-tests and highly successful facebook ad campaigns, we were able to deliver a simple usability with a unique hook. While the site was successful, we decided to shut it down because it had become to difficult to convince charities to participate on a low-bid auction site.

.project
  .project-header
    .container
      .row
        .offset8.span4
          %h2 Wheatley Tee Shirt
  .container
    .row
      .span12
        .row
          .span8.carousel-container
            %ul#project-3.carousel.portfolio-items
              %li.portfolio-item
                %a(href="#tee-1" data-toggle="lightbox")
                  %img{:src => "assets/img-sm-teeShirt-1.jpg"}
              %li.portfolio-item
                %a(href="#tee-2" data-toggle="lightbox")
                  %img{:src => "assets/img-sm-teeShirt-2.jpg"}
            .project-controls.span2
              .right
                %i.icon-arrow-right
              .left
                %i.icon-arrow-left
          .span4
            .project-details
              %h3 Tee Shirt Design
              .divider
              .project-tags
                .badge graphic design
                .badge illustrator
              %p Wheatley tee shirt design, based on the Portal video game series.

.project
  .project-header
    .container
      .row
        .offset8.span4
          %h2 UI Inspirations
  .container
    .row
      .span12
        .row
          .span8.carousel-container
            %ul#project-3.carousel.portfolio-items
              %li.portfolio-item
                %a(href="#rand-1" data-toggle="lightbox")
                  %img{:src => "assets/img-sm-random-1.jpg"}
              %li.portfolio-item
                %a(href="#rand-2" data-toggle="lightbox")
                  %img{:src => "assets/img-sm-random-2.jpg"}
              %li.portfolio-item
                %a(href="#rand-3" data-toggle="lightbox")
                  %img{:src => "assets/img-sm-random-3.jpg"}
            .project-controls.span2
              .right
                %i.icon-arrow-right
              .left
                %i.icon-arrow-left
          .span4
            .project-details
              %h3 User Interface Design
              .divider
              .project-tags
                .badge interaction design
                .badge user interface design
                .badge graphic design
                .badge photoshop
              %p Some personal projects and general user interface design. These interfaces are generalized and were only created from personal inspiration, not as commissioned work.

.project
  .project-header
    .container
      .row
        .offset8.span4
          %h2 Movie Poster Recreation
  .container
    .row
      .span12
        .row
          .span8.carousel-container
            %ul#project-3.carousel.portfolio-items
              %li.portfolio-item
                %a(href="#post-1" data-toggle="lightbox")
                  %img{:src => "assets/img-sm-poster-1.jpg"}
              %li.portfolio-item
                %a(href="#post-2" data-toggle="lightbox")
                  %img{:src => "assets/img-sm-poster-2.jpg"}
              %li.portfolio-item
                %a(href="#post-3" data-toggle="lightbox")
                  %img{:src => "assets/img-sm-poster-3.jpg"}
            .project-controls.span2
              .right
                %i.icon-arrow-right
              .left
                %i.icon-arrow-left
          .span4
            .project-details
              %h3 Poster Design
              .divider
              .project-tags
                .badge illustrator
                .badge photoshop
                .badge graphic design
              %p
                A personal project; this poster is basically a vector-based remastering of an original poster for The Abyss (
                %a{:href => "http://wrongsideoftheart.com/2011/09/abyss-topiel-1917-poland/"} original here
                ). The design was done in Illustrator and touched up in Photoshop.