.testimonial
  .container
    .row
      .span12
        %blockquote
          ReviewRight
          %sup TM
          is a "must have" tool in the risk management tool kit of any firm with substantial document review requirements. The benefits, measured in terms of improved productivity, reduced errors and rework, and better-informed staffing decisions, make it a compelling investment.
          %small
            Norman Clark,
            %a{:href => "http://www.walkerclark.com/"} Walker Clark LLC
.how-it-works
  .container
    .row
      .span4
        .content-block
          %h2 Create a profile in just a few minutes
          .bd
            .hiw-icon.profile
            %p Your profile highlights your qualifications and availability. Counsel can then find that you are a likely candidate for their needs.
            %p Be thorough: fill out as much detail here as possible, particularly your state licensure and location.
      .span4
        .content-block
          %h2 Take the simple Document Review test
          .bd
            .hiw-icon.notepad
            %p Prove your skills by reviewing real documents and categorizing them according to legal relevance. Just as in real document review, you will be asked to classify documents by making fine distinctions between categories under time pressure.
            %p Lose points for failing to recognize when a document belongs to a category or assigning it incorrectly.
      .span4
        .content-block
          %h2 Get invited to participate in a case!
          .bd
            .hiw-icon.gavel
            %p Once Counsel finds that you're a perfect fit for an ongoing case, you'll be invited to complete the next stage in the hiring process.
            %p At this point you a pre-screened, and well on your way to a rewarding job!

#getting-started.getting-started
  .container
    .row
      .span12
        .content-block
          %h1 Getting Started
          .bd
            .row
              .span6
                = render 'layouts/signup-form'
              #contact-us.offset1.span4.contact-us
                %h3 Have Questions?
                %h3 Contact Us
                %ul.unstyled.margin-top-1
                  %li Review Less, LLC
                  %li One Oxford Centre, Suite 4300
                  %li 301 Grant Street
                  %li Pittsburgh, PA 15219
                %ul.unstyled
                  %li Attn: Administrator
                  %li
                    Email:
                    %a{:href => "mailto:bmoran@reviewless.com"} bmoran@reviewless.com
                  %li Phone: (412) 486-8606