// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.intro-content {
  @extend .clearfix;
  background: url('img-lockedFolder.png') no-repeat right center;
  padding-top: 90px;
  padding-bottom: 30px;
  margin-bottom: 120px;
  h1, h2 {
    float: left;
  }
  h1 {
    font-size: 64px;
    line-height: 1em;
    padding: 30px;
    color: #FFF;
    text-shadow: 0 2px 0 rgba(0,0,0,0.5);
    margin-bottom: 10px;
    background-color: rgba(3,0,145,0.7);
  }
  h2 {
    font-size: 24px;
    line-height: 1em;
    padding: 20px;
    color: #CCC;
    text-shadow: 0 2px 0 rgba(0,0,0,0.5);
    margin-bottom: 10px;
    background-color: rgba(0,0,0,0.4);
  }
}
