.container
  .row
    .span12
      .intro-content
        .clearfix
          %h1 Document Review done Right.
          %h2 Document reviewers are in high demand.
          %h2 They save counsel time and money and help win cases.
          %h2 Pass our test and join them!
        %a.btn.btn-primary{:href => "#"} Get Started