#modal-help.modal.hide
  .modal-header
    %button.close{:type => "button", :data => {:dismiss => "modal"}} x
    %h3
      ReviewRight
      %sup TM
      Help
  .modal-body
    %p
      If you believe you have encountered technical difficulties which have hampered your ability to fairly complete the ReviewRight aptitude test, please email
      %a{:href => "mailto:bmoran@reviewless.com"} bmoran@reviewless.com.
    %p To allow us to improve ReviewRight, please document the browser you are using (MS Explorer version x.x, Mozilla Firefox version x.x, Safari version x.x, Google Chrome version x.x, or other browser, the type of device you are taking the test with (pc, IPAD, other tablet), and any error message you received. In addition, screen shots are greatly appreciated or detailed explanations of the error you encountered.
    %p Review Less may at their exclusive discretion erase the results of your test, or allow you to take an additional test.