%form
  .row
    .span3
      %label First Name
      %input{:type => "text"}
    .span3
      %label Last Name
      %input{:type => "text"}
  .row
    .span3
      %label Email
      %input{:type => "text"}
  .row
    .span3
      %label City
      %input{:type => "text"}
    .span3
      %label State
      %input{:type => "text"}
  .row
    .span3
      %label Home / Base Region
      %input{:type => "text"}
  .row
    .span3
      %label Password
      %input{:type => "text"}
    .span3
      %label Confirm Password
      %input{:type => "text"}
  .row
    %a.span3.btn.btn-x-large.btn-primary{:href => "#"} Register
  .row
    .span6
      %p
        Already Registered?
        %a{:href => "#"} Sign In